<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="github" value="https://nuget.pkg.github.com/expertscircle/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="solid-computing"/>
      <add key="ClearTextPassword" value="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"/>
    </github>
  </packageSourceCredentials>
</configuration>